#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter
			
	database:
		dsn: 'mysql:unix_socket=/tmp/mariadb55.sock;dbname=51zq1kpt'
		user: 51zq1kpt
		password: 'phli2fryb('

	session:
		expiration: 14 days


services:
	- App\Model\UserManager
	- App\Model\QuestionRepository
	- App\Model\AnswerRepository
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
